/*header style css*/
.container {
margin: 0 auto;
width: 940px;
}
.header {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: " logo ."
                        "logo .";
}
.header--logo{
  grid-area: logo;

}
.header-lista{

}
.header--compras{


}
.sacola{
  position: absolute;
  top: 0;
  right: 0;
  background-image: url(../img/sacola.png);
  background-repeat: no-repeat;
  background-position: top right;

  font-size: 14px;
  padding-right: 35px;
  text-align: right;

  width: 140px;

  padding-top: 8px;

}

.header--itens--lista{

  list-style-type: none;
  font-style: 1.5em;
  text-align: right;

  position: absolute;
  bottom: 0;
  right: 0;


}
.header--itens--lista li{
  display: inline;
  margin-left: 3%;
}
.header--itens--lista a{
  text-decoration: none;
  color: #003366;
}
.header--itens--lista a:hover{
  text-decoration: none;
  background: darkred;
  border-radius: 20px;
  padding: .5%;
  color: #007DC6;
}
.header--itens--lista a:active {
  color: #867DC6;
}


/*rodape style css*/
.rodape{
  background-image: url(../img/fundo-rodape.png);

}
.container_footer{
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin: 0 auto;
}
.redes_sociais--lista{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-around;
}


.redes_sociais--lista li{
  margin-left: 1.2em;
  margin-top: 0.9em;
}
