main{
  width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.main_pesquisa_menu_foto{
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: "pesquisa banner";
  justify-content: center;

}

.banner_destaques{
  grid-area: banner;


}
.departamentos_itens{
  position: relative;
  top: 0;
  left:0;
  padding-top: 5px;
  padding-bottom: 10px;


}
.departamentos_itens a{
  text-decoration: none;
  color: #333333;
}
.departamentos_itens li{
  background-color: white;
  margin-bottom: 1px;
  padding: 5px 10px;

}
.botao_pesquisa{
  position: relative;
  padding: 5px 0;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.departamentos_itens,
.botao_pesquisa{
  background-color: #DCDCDC;
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 10px;
  width: 230px;
}
.departamentos_itens h2,
.botao_pesquisa form,
.botao_pesquisa h2{
  margin: 10px;
}

.botao_pesquisa input[type=search] {
  width: 80%;
  border-radius: 10px;
}

.paineis{
  display: grid;
  grid-template-columns: repeat(2, 2fr);

}
.painel {
  margin: 10px 0;
  padding: 10px;
  width: 445px;
  border-radius: 20px;
  box-shadow: inset 1px 1px 4px #999;
}


.novidades {
  background: linear-gradient(#F5DCDC, #BEBEF4);
}
.mais-vendidos {
  background: linear-gradient(#DCDCF5, #F4BEBE);
}
.painel li {
  display: inline-block;
  vertical-align: top;
  width: 140px;
  margin: 2px;
  padding-bottom: 10px;
  transition: 0.7s ease-out;
}
.painel li:hover {
  background-color: rgba(255,255,255,0.8);
  box-shadow: 0 0 5px #333;
  transition: 0.7s ease-in;
  transform: scale(1.2) rotate(-5deg);
}
.painel li:nth-child(2n):hover {
  transform: scale(1.2) rotate(5deg);
}

.painel h2 {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-shadow: 3px 3px 2px rgba(255,255,255,0.8);
}
.painel a {
  color: #333;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
}
.painel a:hover{

}
.painel h2:before {
  content: '\2756';
  padding-right: 5px;
  opacity: 0.4;
}
.painel img{
  border-radius: 10px;
}

.menu-departamentos li ul {
  display: none;
}
.menu-departamentos li:hover ul {
  display: block;
}
.menu-departamentos li ul li {
  background-color: #DCDCDC;
  border-radius: 5px;
}

.menu-departamentos li li a:before {
content: '\272A';
padding-right: 3px;
}
