body {
  font-family: "Arial", "Helvetica", sans-serif;
  /*text-align: center;
  text-indent: 80px
  letter-spacing: 3px;
  word-spacing: 4px;
  line-height: 4px;
  */
  /*background-image: url(img/mirror_fashion.jpg);
  border-style: solid;
  border-color: red;
  border-width: 4px;*/

}
